<footer class="py-2">
    <div class="principal-footer container">
        <div class="row">
            <div class="pie1 col-12 col-sm-6 col-lg-4 py-3">
                <div class="logo-footer">
                    <img src="img/logo.svg" alt="Logo del Sitio">
                </div>
                <div class="menu-footer">
                    <ul class="text-left">
                        <li> <a href="#/! ">Inicio</a> </li>
                        <li> <a href="#!quienessomos ">Quienes somos</a> </li>
                        <li> <a href="#!servicios ">Nuestros Servicios</a> </li>
                        <li> <a href="#!contactanos ">Contáctanos</a> </li>
                    </ul>
                </div>
            </div>
            <div class="pie2 col-12 col-sm-6 col-lg-4 datos-piedepagina py-3">
                <div>
                    <div class="datos-individuales">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <p>Sede Belén<br> Carrera 82B N-20 -32
                            <br> Medellín - Colombia</p>
                    </div>
                    <div class="datos-individuales">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <p>Sede Centro<br>Carrera 54 #54-72
                            <br> Medellín - Colombia</p>
                    </div>
                    <div class="datos-individuales">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <p>+ 57 4 511 47 35</p>
                    </div>
                    <div class="datos-individuales">
                        <i class="fa fa-whatsapp" aria-hidden="true"></i>
                        <p>+ 57 313 888 54 27</p>
                    </div>
                    <div class="datos-individuales">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <p>protoprintid@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="pie3  col-12 offset-sm-3 col-sm-6 col-lg-4 offset-lg-0 py-3">
                <div class="horarios text-center">
                    <h6>Horarios:</h6>
                    <h6>Lunes a Viernes: 8:00am - 6:00pm</h6>
                    <h6>Sábados: 8:00am - 1:00pm</h6>
                </div>
                <div class="container text-center">
                    <ul class="redes-sociales">
                        <li><a href="https://web.facebook.com/protoprintid/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                        <li><a href="proximamente.html" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.instagram.com/protoprint_digital" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="proximamente.html" target="_blank"><i class="fa fa-youtube-square" aria-hidden="true"></i></a></li>
                        <li><a href="mailto:protoprintid@gmail.com" target="_blank"><i class="fa fa-envelope-square" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="secundary-footer text-center py-1">
        <p class="text-center"><i class="fa fa-copyright" aria-hidden="true"></i> PROTOPRINT Impresión Digital - Todos los derechos reservados - 2018 </p>
    </div>
</footer>