<header id="encabezado" class="encabezado navbar fixed-top" role="banner">
    <div id="info">
        <ul>
            <li>Protoprint - Impresión Digital</li>
            <li><i class=" fa fa-phone " aria-hidden="true "></i> +57 4 511 47 35</li>
            <li><i class="fa fa-whatsapp " aria-hidden="true "></i> + 57 313 888 54 27</li>
            <li><i class="fa fa-envelope " aria-hidden="true "></i> protoprintid@gmail.com</li>
        </ul>

    </div>
    <div class="menu container">
        <div class="logo">
            <img src="img/logo.svg" alt="Logo del Sitio">
        </div>
        <button type="button" class="boton-menu" data-toggle="collapse" href="#menu-principal" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-bars"></i></button>
        <nav class="menu-principal collapse" id="menu-principal">
            <ul>
                <li> <a href="#/! ">Inicio</a> </li>
                <li> <a href="#!quienessomos ">Quienes somos</a> </li>
                <li> <a href="#!servicios ">Nuestros Servicios</a> </li>
                <li> <a href="#!catalogo ">Catalogo</a> </li>
                <li> <a href="#!contactanos ">Contáctanos</a> </li>
            </ul>
        </nav>
    </div>
</header>