<main class="servicios container py-3">
    <h2 class="text-center font-weight-bold">Nuestros Servicios</h2>
    <div class="lista-servicios row">
        <article class="col-md-6 col-lg-4 wow bounceInRight item-servicio" data-wow-delay=".6s">
            <img src="../img/impresión-digital.png" alt="Impresión Digital" class="img-fluid">
            <h3><a href="#!servicios">Impresión Digital</a></h3>
            <p class="texto-servicios1">Impresión digital hasta de 100x33 cm en adhesivos y papeles finos con laminado litográfico, personalización de producto impreso desde 1 unidad, afiches, volantes, tarjetas personales, diplomas, sticker, etiquetas, carpetas y tarjetas personalizadas
                para toda ocación.</p>
            <a href="#!servicios" class="btn btn-secondary botones-servicio">Más información</a>
        </article>
        <article class="col-md-6 col-lg-4 wow bounceInUp item-servicio" data-wow-delay=".3s">
            <img src="../img/impresion-granformato.png" alt="Impresión Gran Formato" class="img-fluid">
            <h3><a href="#!servicios">Impresión Gran Formato</a></h3>
            <p class="texto-servicios1">Impresión hasta de 1.80m x 3.20m a 1440dpi con tinta Ecosolvente. Disponemos de cabezales de impresión basados en la tecnología de inyección de tinta más avanzada de la industria, colocados de forma escalonada para maximizar la productividad.</p>
            <a href="#!servicios" class="btn btn-secondary botones-servicio">Más información</a>
        </article>
        <article class="col-md-6 col-lg-4 wow bounceInUp item-servicio" data-wow-delay=".3s">
            <img src="../img/diseno-grafico.png" alt="Diseño Gráfico" class="img-fluid">
            <h3><a href="#!servicios">Diseño Gráfico</a></h3>
            <p class="texto-servicios1">Diseño de tarjetas de presentación, volantes, piezas publicitarias, revistas y todo lo relacionado a publicidad impresa y digital.</p>
            <a href="#!servicios" class="btn btn-secondary botones-servicio">Más información</a>
        </article>
        <article class="col-md-6 col-lg-4 wow bounceInLeft item-servicio" data-wow-delay=".6s">
            <img src="../img/sublimacion.png" alt="Diseño e Imposición" class="img-fluid">
            <h3><a href="#!servicios">Sublimación</a></h3>
            <p class="texto-servicios1">Vinilo textil en gorras y camisetas, garantizando que tu diseño tenga una larga duración.</p>
            <a href="#!servicios" class="btn btn-secondary botones-servicio">Más información</a>
        </article>
        <article class="col-md-6 col-lg-4 wow bounceInDown item-servicio" data-wow-delay=".3s">
            <img src="../img/diseno3d.png" alt="Diseño 3D" class="img-fluid">
            <h3><a href="#!servicios">Diseño 3D</a></h3>
            <p class="texto-servicios2">Modelado y presentación de proyectos de Arquitectura en 3D (3DsMAX).</p>
            <a href="#!servicios" class="btn btn-secondary botones-servicio">Más información</a>
        </article>
        <article class="col-md-6 col-lg-4 wow bounceInDown item-servicio" data-wow-delay=".3s">
            <img src="../img/renderdeproducto.png" alt="Render de Producto" class="img-fluid">
            <h3><a href="#!servicios">Render de Producto</a></h3>
            <p class="texto-servicios2">El modelado en 3D, nos permite previsualizar y publicitar el resultado final de nuestros productos.</p>
            <a href="#!servicios" class="btn btn-secondary botones-servicio">Más información</a>
        </article>
    </div>
</main>