<section class="centrodecopiado container py-2">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="text-center font-weight-bold">Centro de impresión y procesamiento digital</h2>
            <p class="text-justify">Somos una empresa innovadora en servicios para medios impresos publicitarios, y que cuenta con profesionales que poseen una gran trayectoria y experiencia en las artes gráficas, arte final, preprensa, impresión de gran formato, publicidad
                impresa e impresión digital por demanda.</p>
            <div class="boton-quienes-somos pb-2">
                <button type="button" class="btn btn-secondary btn-lg py-2 boton"><a href="#!quienessomos">Nosotros</a></button>
            </div>
        </div>
        <div class="col-12 text-center py-2">
            <div id="imagen-centrodecopiado text-center">
                <img src="img/quienessomos1.png" alt="">
            </div>
        </div>
    </div>
</section>