<section id="infopromociones container py-2">
    <h2 class="text-center">Infopromociones</h2>

    <img src="../img/infopromociones/impresionaltacalidad.jpg" alt="">
    <img src="../img/infopromociones/domicilios-impresion.jpg" alt="">
    <img src="../img/infopromociones/plegables.jpg" alt="">
    <img src="../img/infopromociones/etiquetas-stickers.jpg" alt="">
    <img src="../img/infopromociones/revistas-folletos1.jpg" alt="">
    <img src="../img/infopromociones/botones-personalizados.jpg" alt="">
    <img src="../img/infopromociones/pago-con-tarjetas.jpg" alt="">
    <img src="../img/infopromociones/tarjetas-presentacion.jpg" alt="">
    <img src="../img/infopromociones/mugs-personalizados.jpg" alt="">
    <img src="../img/infopromociones/imanes-personalizados.jpg" alt="">
    <img src="../img/infopromociones/camisetas-personalizadas.jpg" alt="">

</section>